:root {
  --bg-section-lite-green: #edf2ec;
  --bg-section-white: #fff;
  --green: #499a18;
  --orange: #e06733;
  --black: #010201;
  --light-gray: #717171;
  --dark-gray: #636060;
  --light-green: #d6e7d2;
  --font-inika: "Inika", serif;
  --font-inter: "Inter", sans-serif;
  --conteiner-width: 1222px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

html {
  scroll-behavior: smooth;
}

.header,
.main,
.footer {
  width: 100%;
}

.container {
  max-width: 1222px;
  margin: 0 auto;
}

.bg-light-green {
  background-color: var(--bg-section-lite-green);
}

.bg-white {
  background-color: var(--bg-section-white);
}

.accented-text-green {
  color: var(--green);
}
/* Header */

.header-container {
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 20px;
  height: 20px;
  padding-bottom: 5px;
}

.logo-text {
  margin: 0;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--black);
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 0 0 0 46px;
}

.nav-link {
  text-decoration: none;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 50px;
  color: var(--black);
  transition: 0.5s ease-in-out;
}

.accent {
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 50px;
  color: var(--orange);
}

.nav-link:hover {
  color: var(--green);
}

/* Welcome */

.welcome {
  padding-top: 62px;
  padding-bottom: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-img {
  height: 408px;
}

.welcome-content {
  width: 549px;
  height: 340px;
}

.welcome-header {
  margin: 0;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 45px;
  line-height: 50px;
  color: var(--light-gray);
}

.welcome-paragraph {
  margin-top: 42px;
  margin-bottom: 48px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 35px;
  color: var(--dark-gray);
}

.welcome-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 14px 27px;
  border: 2px solid #e06733;
  border-radius: 10px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black);
  transition: 0.5s ease-in-out;
}

.welcome-button:hover {
  background-color: var(--orange);
  color: var(--bg-section-white);
}

/* Price */
.accordion-container {
  width: 332px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px 41px;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
}

.accordion-item {
  width: 250px;
  background: var(--light-gray);
  overflow: hidden;
  margin: 16px 0;
  border-radius: 20px;
}

.accordion-btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  border: none;
  font-family: var(--font-inter);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 20px;
}

.accordion-btn::after {
  content: url(/assets/images/icons/accordion_btn_close.svg);
  width: 16px;
  height: 16px;
}

.accoridon-pannel {
  border-top: 0.5px solid #aea1a1;
  background-color: var(--light-green);
  display: none;
}
