:root {
  --bg-section-lite-green: #edf2ec;
  --bg-section-white: #fff;
  --green: #499a18;
  --orange: #e06733;
  --black: #010201;
  --light-gray: #717171;
  --dark-gray: #636060;
  --light-green: #d6e7d2;
  --font-inika: "Inika", serif;
  --font-inter: "Inter", sans-serif;
  --conteiner-width: 1222px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --dropdownImg: "/assets/images/icons/drop_btn_unactive.svg";
}

html {
  scroll-behavior: smooth;
}

.header,
.main,
.footer {
  width: 100%;
}

.container {
  max-width: var(--conteiner-width);
  margin: 0 auto;
}

@media (max-width: 768px) {
  :root {
    --conteiner-width: 668px;
  }
}

@media (max-width: 380px) {
  :root {
    --conteiner-width: 330px;
  }
}

.bg-light-green {
  background-color: var(--bg-section-lite-green);
}

.bg-white {
  background-color: var(--bg-section-white);
}

.accented-text-green {
  color: var(--green);
}
.accented-text-orange {
  color: var(--orange);
}

.button {
  transition: 0.5s ease-in-out;
}
.button:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--bg-section-white);
}
/* Header */

.header-container {
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 20px;
  height: 20px;
  padding-bottom: 5px;
}

.logo-text {
  margin: 0;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--black);
}

.menu-btn {
  display: none;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 0 0 0 47px;
}

.nav-link {
  text-decoration: none;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 50px;
  color: var(--black);
  transition: 0.5s ease-in-out;
}

.accent {
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 50px;
  color: var(--orange);
}

.nav-link:hover {
  color: var(--green);
}

@media (max-width: 768px) {
  .header-container {
    height: 117px;
  }
}

@media (max-width: 380px) {
  .header-container {
    height: 96px;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 33px;
    right: 25px;
    border: none;
    width: 40px;
    height: 26px;
    z-index: 100;
    background-color: transparent;
    background-image: url(../assets/images/icons/burger.svg);
    background-size: cover;
    transition: 0.5s ease-in-out;
  }

  .active-btn {
    width: 24px;
    height: 24px;
    right: 35px;
    background: var(--light-green);
    background-image: url(../assets/images/icons/close.svg);

    background-size: cover;
    z-index: 100;
    transition: 0.5s ease-in-out;
  }

  .nav-list {
    width: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -20px;
    padding-left: 0;
    text-align: center;
    background: var(--light-green);
    flex-direction: column;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  .active-menu {
    width: 100%;
    opacity: 1;
  }

  .nav-item {
    padding-left: 0;
    line-height: 20px;
  }
}

/* Welcome */

.welcome {
  padding-top: 62px;
  padding-bottom: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-img {
  height: 408px;
}

.welcome-content {
  width: 549px;
  height: 340px;
}

.welcome-header {
  margin: 0;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 45px;
  line-height: 50px;
  color: var(--light-gray);
}

.welcome-paragraph {
  margin-top: 44px;
  margin-bottom: 48px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 35px;
  color: var(--dark-gray);
}

.welcome-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 11px 26px;
  background: var(--bg-section-lite-green);
  border: 2px solid #e06733;
  border-radius: 10px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--black);
}

@media (max-width: 768px) {
  .welcome {
    padding-top: 40px;
    padding-bottom: 70px;
    align-items: flex-start;
  }
  .welcome-img {
    order: 2;
    height: 254px;
  }
  .welcome-img img {
    width: 286px;
  }

  .welcome-content {
    order: 1;
    width: 348px;
    height: 310px;
  }

  .welcome-header {
    font-size: 35px;
    line-height: 50px;
  }
  .welcome-paragraph {
    margin-top: 30px;
    margin-bottom: 36px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 380px) {
  .welcome {
    padding-top: 25px;
    padding-bottom: 24px;
  }

  .welcome-content {
    height: 252px;
  }

  .welcome-img {
    display: none;
  }

  .welcome-header {
    font-size: 25px;
    line-height: 35px;
  }

  .welcome-paragraph {
    margin-top: 21px;
    margin-bottom: 27px;
    padding-left: 0;
  }

  .welcome-button {
    padding: 5px 10px;
    font-size: 10px;
    line-height: 20px;
  }
}

/* about */

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content {
  max-width: 605px;
}

.about-header {
  max-width: 463px;
  margin-top: 25px;
  margin-bottom: 39px;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 40px;
  line-height: 52px;
}

.about-paragraph {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 30px;
}

.about-img-container {
  max-width: 464px;
  margin-top: 93px;
  margin-bottom: 94px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-content {
    max-width: 100%;
  }
  .about-header {
    margin: 40px auto;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
  }
  .about-paragraph {
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }
  .about-img-container {
    max-width: 250px;
    margin-top: 48px;
    margin-bottom: 90px;
  }
  .about-img-container img {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .about-header {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 33px;
  }
  .about-paragraph {
    padding-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 25px;
  }
  .about-img-container {
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

/* Service */

.service {
  padding-bottom: 121px;
}

.service-controls {
  max-width: 1007px;
  padding-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-controls-header {
  max-width: 306px;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 40px;
  line-height: 52px;
}

.service-controls-btns {
  width: 559px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.service-btn {
  width: 161px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 26px;
  color: var(--orange);
  background-color: var(--bg-section-lite-green);
}

.active-btn {
  background-color: var(--orange);
  color: var(--bg-section-white);
}

.service-card-container {
  height: 955px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1 1 1;
  justify-content: space-between;
}

.service-card {
  height: 448px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  transition: 1s ease-in-out;
}

.blur {
  filter: blur(5px);
}

.service-img-container {
  width: 329px;
  overflow: hidden;
}

.service-img {
  width: 329px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
}

.card-header {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 20px;
  color: var(--orange);
}

.card-paragraph {
  margin: 0;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 20px;
  color: var(--light-gray);
}

@media (max-width: 768px) {
  .service {
    padding-bottom: 70px;
  }
  .service-controls {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
  }
  .service-controls-header {
    margin-top: 60px;
    font-size: 35px;
    line-height: 46px;
  }
  .service-controls-btns {
    margin-top: 15px;
  }
  .service-btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .service-card-container {
    height: 1426px;
  }

  .service-card {
    /* height: 468px; */
    align-items: center;
    margin-bottom: 38px;
  }

  .service-img-container {
    width: 280px;
    height: 350px;
    overflow: hidden;
  }

  .service-img {
    width: 280px;
  }
  .card-content {
    width: 201px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  .card-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 380px) {
  .service {
    padding-bottom: 30px;
  }

  .service-controls {
    padding-bottom: 27px;
  }
  .service-controls-header {
    margin-top: 30px;
    max-width: 187px;
    font-size: 25px;
    line-height: 33px;
  }
  .service-controls-btns {
    max-width: 252px;
    flex-wrap: wrap;
  }
  .service-btn {
    margin-bottom: 9px;
    width: 121px;
    padding: 8px 28px;
    font-size: 15px;
    line-height: 20px;
  }
  .service-card-container {
    min-height: 2870px;
    margin-left: 25px;
    align-items: center;
  }
  .service-card {
    margin-bottom: 34px;
  }
}

/* Price */

.price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.accordion-header {
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  line-height: 48px;
}

.accordion-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px 41px;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
}

.accordion-item {
  width: 250px;
  background: var(--bg-section-lite-green);
  overflow: hidden;
  margin: 16px 0;
  border-radius: 20px;
}

.accordion-btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  border: none;
  background-color: transparent;
  font-family: var(--font-inter);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 20px;
}

.accordion-btn-img {
  width: 16px;
  height: 16px;
}

.accoridon-pannel {
  margin-inline: 40px;
  background-color: var(--light-green);
  display: none;
}

.open {
  display: block;
}

.accordion-pannel-content {
  display: block;
  margin-top: 0;
  padding-block: 6px;
  border-top: 0.5px solid #aea1a1;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}

.accordion-pannel-price {
  margin-bottom: 0px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.fs18px {
  font-size: 18px;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 86px;
  height: 25px;
  margin-block: 12px;
  background: #ffffff;
  border-color: transparent;
  border-radius: 10px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.price-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 452px;
}

.price-content-header {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  line-height: 50px;
  text-align: right;
}

.price-content-button {
  padding: 11px 34px 11px 30px;
  margin-bottom: 38px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  background: var(--bg-section-white);
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--orange);
}

.price-content-img {
  height: 174.99;
}

@media (max-width: 768px) {
  .price-container {
    margin-bottom: 80px;
  }

  .accordion-header {
    margin-bottom: 55px;
    padding-left: 15px;
    font-size: 35px;
    line-height: 42px;
  }
  .price-content {
    margin-top: 115px;
  }
  .price-content-header {
    margin-bottom: 28px;
    font-size: 25px;
    line-height: 35px;
  }
  .price-content-button {
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .price-container {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .accordion-header {
    margin-top: 22px;
    margin-bottom: 38px;
    padding-right: 10px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .accordion-container {
    width: 224px;
    margin: 0 auto;
    padding: 20px 0 18px 0;
  }
  .accordion-item {
    width: 180px;
    margin: 7px 0;
  }

  .accordion-btn {
    font-size: 15px;
    line-height: 20px;
    padding: 0 30px;
  }

  .accordion-btn-img {
    padding-top: 2px;
    padding-right: 10px;
  }

  .price-content {
    margin-top: 0;
    align-items: center;
  }
  .price-content-header {
    width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
  }

  .price-content-button {
    padding: 8px 22px;
    font-size: 15px;
    line-height: 20px;
  }

  .price-content-img {
    display: none;
  }
}

/* Contact */

.contact-container {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.contact-header {
  position: relative;
  order: 2;
  margin-top: 7px;
  padding-left: 45px;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  line-height: 52px;
  color: var(--green);
}

.contact-selector {
  order: 3;
  position: relative;
}

.contact-select {
  width: 450px;
  margin-top: 95px;
  margin-bottom: 45px;
  padding-top: 6px;
  padding-left: 20px;
  padding-bottom: 5px;
  appearance: none;
  background: var(--light-green);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: var(--light-gray);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.contact-selector::after {
  position: absolute;
  z-index: 2;
  content: url(/assets/images/icons/drop_btn_unactive.svg);
  width: 16px;
  height: 16px;
  right: 35px;
  top: 113px;
}
.dropdown.contact-selector::after {
  position: absolute;
  z-index: 2;
  content: url(/assets/images/icons/drop_btn_active.svg);
  width: 16px;
  height: 16px;
  right: 35px;
  top: 113px;
}

.contact-img {
  order: 1;
}

.contact-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17px 33px 32px 33px;
  background: var(--bg-section-lite-green);
  border: 1px solid #000000;
  border-radius: 20px;
}

.hide {
  display: none;
}

.contact-table {
  margin-right: 76px;
}

.table-field {
  width: 128px;

  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #000000;
}

.table-value {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: var(--light-gray);
}

.contact-call-btn {
  margin-top: 24px;
  padding: 7px 42px;
  text-decoration: none;
  font-family: var(--font-inika);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 10px;
  line-height: 13px;
  text-align: center;

  color: var(--light-gray);

  border: 1px solid var(--orange);
  border-radius: 5px;
}

.active-table-select {
  background-color: #c1e698;
  box-shadow: none;
}

@media (max-width: 768px) {
  .contact-container {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  .contact-header {
    order: 1;
    margin-top: 0;
    margin-bottom: 3px;
    padding-left: 0;
  }
  .contact-selector {
    order: 2;
  }
  .contact-img {
    order: 3;
    height: 248px;
    margin-top: 205px;
    margin-left: 20px;
  }

  .contact-result {
    padding-top: 14px;
    padding-left: 25px;
  }

  .table-field,
  .table-value {
    line-height: 37px;
  }
  .contact-call-btn {
    margin-top: 15px;
    padding: 6px 42px;
  }

  .active-table-select {
    margin-top: 55px;
    margin-bottom: 62px;
    padding-left: 33px;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
  }

  .active-table-img {
    margin-top: 14px;
  }
}
@media (max-width: 380px) {
  .contact-container {
    padding-top: 25px;
  }

  .contact-header {
    font-size: 25px;
    line-height: 33px;
  }
  .contact-select {
    margin-top: 76px;
    width: 300px;
  }
  .contact-selector::after {
    right: 45px;
    top: 94px;
  }

  .dropdown.contact-selector::after {
    right: 45px;
    top: 94px;
  }
  .selected-city.contact-selector::after {
    right: 39px;
    top: 58px;
  }

  .selected-city.dropdown.contact-selector::after {
    right: 39px;
    top: 58px;
  }
  .contact-img {
    height: 120px;
    margin-top: 88px;
    margin-left: -3px;
  }
  .active-table-select {
    margin-top: 40px;
    margin-bottom: 49px;
    margin-left: 22px;
    padding-left: 22px;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
  }

  .contact-result {
    width: 223px;
    margin-inline: 30px;
    margin-bottom: 33px;
    padding-top: 20px;
    padding-bottom: 23px;
  }

  .contact-table {
    margin-inline: 2px;
  }
  .table-field {
    width: 65px;
    padding-top: 15px;
    line-height: 18px;
  }
  .table-value {
    width: 145px;
    padding-top: 15px;
    line-height: 18px;
  }

  .contact-call-btn {
    margin-left: 25px;
  }
  .active-table-img {
    display: none;
  }
}
/* Footer */

.footer-container {
  width: 100%;
  margin-top: 31px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-author-block {
  width: 170px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-link {
  color: #000000;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--green);
}

.footer-link-rss {
  margin-left: 57px;
}

.footer-link-list {
  width: 186px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.footer-link-list-item {
  display: flex;
  align-items: center;
}

.footer-link-list-item > a {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.footer-link-list-item > a:hover {
  background-color: var(--light-green);
  box-shadow: 0 0 5px var(--light-green), 0 0 10px var(--green);
}

.footer-link-list-item > a > img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    line-height: 40px;
  }
  .footer-author-block {
    line-height: 33px;
  }
  .footer-link-rss {
    margin-left: 0;
  }
  .footer-link-list {
    padding: 0;
  }
}

@media (max-width: 380px) {
  .footer-container {
    margin-top: 20px;
  }
  .footer-link-rss {
    margin-top: 5px;
  }
  .footer-link-list {
    margin-top: 3px;
  }
}
